<div class="w3-main" style="margin-left:340px;margin-right:40px">

<%= image_tag(@curtain.image_url(:default)) %>

<p>
  <strong>Name:</strong>
  <%= @curtain.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @curtain.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @curtain.price %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_curtain_path(@curtain) %>
<% end %> |
<%= link_to 'Back', curtains_path %>
</div>