<div class="w3-main" style="margin-left:340px;margin-right:40px">

<%= image_tag(@product.image_url(:default)) %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_product_path(@product) %> 
<% end %> |
<%= link_to 'Back', products_path %>
</div>