

	<!-- intro section start -->
	<section class="intro-section">
		<div class="container text-center">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="section-title">Quality curtain accessories <span>at affordable rates</span> and flexible conditions</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- intro section end -->

	<!-- portfolio section start -->
	<section class="portfolio-section">
                     
		<div class="container-fluid p-md-0 ">
			<div class="row portfolios-area">
				<div class="mix col-lg-6 col-md-6 web">
				 <%= image_tag("1.jpeg", class: "portfolio-item set-bg") %>
				</div>
				<div class="mix col-lg-6 col-md-6 digital">
				 <%= image_tag("24.jpeg", class: "portfolio-item set-bg") %>						
				</div>
				<div class="mix col-lg-4 col-md-6 web">
				 <%= image_tag("sm3.jpg", class: "portfolio-item set-bg") %>
			
				</div>
				<div class="mix col-lg-4 col-md-6 digital">
				 <%= image_tag("slider.jpg", class: "portfolio-item set-bg") %>
		
				</div>
				<div class="mix col-lg-4 col-md-6 rened">
				 <%= image_tag("25.jpg", class: "portfolio-item set-bg") %>
	
				</div>
				<div class="mix col-lg-12 col-md-6 brand">
				 <%= image_tag("blind1.jpg", class: "portfolio-item set-bg") %>

				</div>
				<div class="mix col-lg-6 col-md-6 rened">
				 <%= image_tag("blind2.jpg", class: "portfolio-item set-bg") %>

				</div>
				<div class="mix col-lg-6 col-md-6 brand">
				 <%= image_tag("14.jpeg", class: "portfolio-item set-bg") %>

				</div>
			</div>
		</div>
	</section>
	<!-- portfolio section end -->


	