<!DOCTYPE html>
<html>
  <head>
    <title>Curtainrods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag href="https://www.w3schools.com/w3css/4/w3.css" %>
<%= stylesheet_link_tag href="https://fonts.googleapis.com/css?family=Poppins" %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
